{% extends 'todo_app/main.html' %}

{% block content %}
<div class="header-bar">
    <h1>Register</h1>
</div>

<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">{{ form.username.label }}</label>
            {{ form.username }}
        </div>
        <div>
            <label for="id_password1">{{ form.password1.label }}</label>
            {{ form.password1 }}
        </div>
        <div>
            <label for="id_password2">{{ form.password2.label }}</label>
            {{ form.password2 }}
        </div>
        <div>
            <label for="id_age">Age:</label>
            <input type="number" id="id_age" name="age" min="1" required>
        </div>
        <button style="margin-top:10px;" class="input-button" type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

    
    <div id="password-popup" class="popup" style="display: none;"></div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
    const passwordField = document.getElementById("id_password1");
    const usernameField = document.getElementById("id_username");
    const ageField = document.getElementById("id_age");
    const form = document.querySelector("form");
    const popupContainer = document.getElementById("password-popup");

    form.addEventListener("submit", function(event) {
        const password = passwordField.value;
        const username = usernameField.value;

        let errorMessage = "";

        if (password.length < 8) {
            errorMessage = "Password must be at least 8 characters long.";
        } else if (password.toLowerCase().includes(username.toLowerCase())) {
            errorMessage = "Password is too similar to the username.";
        } else if (/^\d+$/.test(password)) {
            errorMessage = "Password cannot be entirely numeric.";
        }

        if (errorMessage) {
            
            popupContainer.textContent = errorMessage;
            popupContainer.style.display = "block";
            event.preventDefault();  
        }
    });
});
</script>
{% endblock %}


