{% if request.user.is_authenticated %}
        <p> {{request.user}} </p>
        <a a href=''> Logout </a>

{% else %}
<a a href="{% url 'login'%}"> Login </a>
{% endif %}



<hr>




<h1> My to do list! </h1>


    <table>
        <tr>
            <th> Item </th>
            <th></th>
        </tr>
    {% for task in tasks %}
    <tr>
        <td> {{task.title}} </td>
        <td> <a href="{% url 'tasks' task.id %}"> view </a></td>
        <td> <a href="{% url 'task-update' task.id %}"> update </a></td>
        <td> <a href="{% url 'task-delete' task.id  %}"> delete </a></td>

    </tr>
    {% empty %}

        <h3> No items in list </h3>

    {% endfor %}

    </table>
